.footer {
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
}

.icons {
    display: flex;
    /* justify-content: space-evenly; */
    /* width: 100%; */
    gap: 1rem;
    margin-left: 11rem;
    margin-bottom: 1rem;
}

.additional-info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.column-of-links {
    display: flex;
    flex-direction: column;
}

.column-of-links a {
    color: grey;
    text-decoration: none;
    margin: .5rem;
}
